@{
    ViewBag.Title = "Informações";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Rua Olimpíadas, 205, 4º andar, Vila Olímpia<br />
    São Paulo - SP, 04551-000<br />
    <abbr title="Comercial">Contato:</abbr>
    +55 11 2737-4465
</address>

<address>
    <strong>Atendimento:</strong>   <a href="mailto:atendimento@santosesantana.com.br">atendimento@santosesantana.com</a><br />    
</address>